@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  /* background-color: red; */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
  /* background-color: red; */
}

.container .left .controls-container {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.container .left .controls-container .controls {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 300px;
  /* background-color: brown; */
}

.container .left .controls-container .controls:first-child {
  margin-top: 0px;
}

.container .left .controls-container .controls .control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.container .left .controls-container .controls .control h4 {
  margin-right: 20px;
}

.container .left .controls-container .controls .control button {
  margin: 0px 20px 0px 0px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightblue;
  border: none;
  font-size: 30px;
  outline: none;
}

.container .right {
  /* background-color: blue; */
  width: 70%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 50px 50px 10px 0px;
}

.container .right .submitButton {
  margin: 30px 20px 0px 0px;
  padding: 10px 20px;
  cursor: pointer;
  /* border-radius: 50%; */
  background-color: lightblue;
  border: none;
  font-size: 15px;
  outline: none;
}

.container .right #canvas {
  background-color: lightblue;
}

@media screen and (max-width: 1150px) {
  .container {
    height: auto;
    flex-direction: column;
    margin: 50px 0px;
  }

  .container .left {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .container .left .controls-container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
  
  .container .left .controls-container .controls {
    margin: 30px 30px;
  }

  .container .right {
    width: 100%;
    padding: 50px 0px;
    justify-content: center;
  }
}
